# Binance Futures Testnet API credentials
# Copy this file to .env and fill in your actual credentials
# NEVER commit .env to version control

BINANCE_API_KEY=6mT7RUoMjNocLl5KKZENBVZhzCUHJW6Xt9Vpt9BSUJ6CBiMsRZhP1zAYzjCqbRIg
BINANCE_API_SECRET=taLTiRfewImO13lUk7bXh1FtjZLNptyBoTp1pTS5K6LnsGCVXA8RJx5V5clUhxu0
